<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Idea.me</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav col-xs-12">
                <li class="sidebar-brand">
                    <a href="#">
                        <h1 style="color:#fccf21;">Idea.me</h1>
                    </a>
                </li>
                <% @posts.each do |post| %>
                    <li><a style="color: #fff;" data-toggle="modal" data-target="#myModal"><%= post.titlePost %></a></li>
                <% end %>
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="text-center margins">Tell us about your idea...</h1>
                        <form action="/createPost" method="post">
                            <div class="input-group  col-xs-12 col-md-offset-3 col-md-6 radio">
                                <input type="text" class="form-control" name="titlePost" placeholder="Title" aria-describedby="basic-addon1" style="margin:50px 0 15px 0">
                            </div>
                            <div class="input-group col-xs-12 col-md-offset-3 col-md-6 radio">
                                <input type="text" class="form-control" name="emailPost" placeholder="Email" aria-describedby="basic-addon1" style="margin:15px 0 15px 0">
                            </div>
                            <div class="input-group col-xs-12 col-md-offset-3 col-md-6 radio">
                               <textarea name="descPost" class="form-control yolo" placeholder="Explain your idea" rows="10" style="margin:15px 0 30px 0"></textarea>
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-lg col-xs-6 pull-right" style="width:25%; background-color: #fccf21; border: none; color: #000;">Submit Idea</button>
                            <a href="#menu-toggle" class="btn btn-default hidden visible-xs visible-sm" id="menu-toggle">Toggle Menu</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <!--modals-->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 style="color: #000;" class="modal-title">Details</h2>
                </div>
                <div class="modal-body">
                    <h4 style="color: #000;"></h4>
                    <h4 style="color: #000;"></h4>
                    <h4 style="color: #000;"></h4>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>
</html>
